.markdown {
  @apply text-lg leading-relaxed text-slate-900 break-keep;
}

.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h1 {
  @apply text-3xl font-bold mb-4 leading-snug;
  & ~ h1 {
    @apply mt-10;
  }
  & + p {
    @apply mt-0;
  }
}

.markdown h2 {
  @apply text-2xl font-bold mb-4 leading-snug;
  & ~ h2 {
    @apply mt-10;
  }
  & + p {
    @apply mt-0;
  }
}

.markdown h3 {
  @apply text-xl font-semibold mb-4 leading-snug;
  & ~ h3 {
    @apply mt-10;
  }

  & + p {
    @apply mt-0;
  }
}

.markdown h4 {
  @apply text-lg font-semibold mb-4 leading-snug;
  & ~ h4 {
    @apply mt-10;
  }

  & + p {
    @apply mt-0;
  }
}

.markdown h5 {
  @apply text-base font-semibold mb-4 leading-snug;
  & ~ h5 {
    @apply mt-10;
  }

  & + p {
    @apply mt-0;
  }
}

.markdown h6 {
  @apply text-sm font-semibold mb-4 leading-snug;
  & ~ h6 {
    @apply mt-10;
  }

  & + p {
    @apply mt-0;
  }
}

.markdown p {
  @apply text-base leading-6 text-gray-600 my-5;
}
.markdown strong {
  @apply font-semibold text-slate-900;
}

.markdown ul {
  list-style-type: disc;
  @apply pl-5 my-4;
  ul {
    @apply mt-0;
  }
}
.markdown ol {
  counter-reset: list;
  @apply pl-5 my-4;
  & > li {
    counter-increment: list;
    @apply relative;
    &:before {
      @apply absolute -left-5;
      content: counter(list) ".";
    }
  }
}

.markdown li {
  @apply text-base leading-6 text-gray-600 my-1;

  &::marker {
    @apply text-slate-300;
  }
}

.markdown code {
  font-family: Consolas;
  @apply bg-slate-100 px-1 py-0.5 rounded-sm;
}
.markdown pre code {
  background: transparent;
  padding: 0;
}

.markdown div[data-rehype-pretty-code-fragment] {
  @apply rounded-lg  overflow-hidden my-5;
  pre {
    @apply px-4 py-3.5 text-sm leading-5 overflow-x-auto;
  }
}

.markdown hr {
  @apply my-12;
}

.markdown a {
  @apply font-semibold border-b border-blue-400 hover:border-b-2 transition-all;
}

.markdown blockquote {
  @apply pl-5 border-l-4 border-blue-400 italic;
}

.markdown table {
  @apply text-left w-full;
  tr {
    @apply border-blue-100 border-b;
  }
  th {
    @apply text-sm pb-2 px-2;
    &:first-of-type {
      @apply pl-0;
    }
  }
  td {
    @apply text-sm py-2 px-2;
    &:first-of-type {
      @apply pl-0;
    }
  }
  tbody {
    tr {
      @apply border-slate-100;
    }
  }
}

.markdown {
  :global(.point) {
    @apply text-blue-400 font-bold;
  }
  :global(.img_caption) {
    @apply text-xs -mt-2;
  }
  :global(.flex_box) {
    @apply gap-3 flex;
  }
  :global(.flex_item) {
    @apply flex-1;
  }
  :global(.alert) {
    @apply bg-yellow-50 py-4 pr-4 pl-12 rounded-md relative my-5;
    &:before {
      @apply w-5 h-5 block absolute top-4 left-4;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0iI0ZBQ0MxNSIgYXJpYS1oaWRkZW49InRydWUiIGNsYXNzPSJudSBydyBiYWciPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguNDg1IDIuNDk1Yy42NzMtMS4xNjcgMi4zNTctMS4xNjcgMy4wMyAwbDYuMjggMTAuODc1Yy42NzMgMS4xNjctLjE3IDIuNjI1LTEuNTE2IDIuNjI1SDMuNzJjLTEuMzQ3IDAtMi4xODktMS40NTgtMS41MTUtMi42MjVMOC40ODUgMi40OTV6TTEwIDVhLjc1Ljc1IDAgMDEuNzUuNzV2My41YS43NS43NSAwIDAxLTEuNSAwdi0zLjVBLjc1Ljc1IDAgMDExMCA1em0wIDlhMSAxIDAgMTAwLTIgMSAxIDAgMDAwIDJ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjwvcGF0aD48L3N2Zz4=");
      content: "";
    }
    h6 {
      @apply text-yellow-800 mb-2 mt-0;
    }
    * {
      @apply text-yellow-700 text-sm mt-2;
      &:last-child {
        @apply mb-0;
      }
    }
    li{
      &::marker {
        @apply text-yellow-700;
      }
    }
    :global(.point) {
      @apply bg-yellow-500 text-white px-1;
    }
  }
}
